In [1]:
# + ,- ,* ,/ ,% ,// ,**
#// floor division operator
# ** expoxntial operator or power operator

In [4]:
a = 20
b = 3

print(a+b)
print(a-b)
print(a/b)
print(a%b)
print(a*b)

23
17
6.666666666666667
2
60

In [5]:
print(a//b)
print(a**b)

6
8000

In [8]:
print(10/3)
print(10.0/3)

print(10//3)
print(10.0//3)

3.3333333333333335
3.3333333333333335
3
3.0

In [9]:
print(20/2)
print(20.5/2)
#floor 
print(20//2)
print(20.5//2)

10.0
10.25
10
10.0

In [10]:
print('harris'+'hack')

harrishack

In [21]:
a='harris'
b='hack'
print(a+b)

harrishack

In [19]:
print('harris'+10)

TypeError: can only concatenate str (not "int") to str

In [25]:
print('harris'+'10')
print('harris'+(str(10)))

harris10
harris10

In [27]:
# * operator

print('harris'*3)
print('harris'*int(3))

harrisharrisharris
harrisharrisharris

In [35]:
print('harris'*True)
print('harris'*False)  #we get empty result for print('harris'*False)

harris

In [36]:
print('harris'*False)

In [37]:
# relational operators
# <, <=, >, >= .
a= 10
b= 20

print(a<b)
print(a<=b)
print(a>b)
print(a>=b)

True
True
False
False

In [8]:
a = 'hack'
type(a)

str

In [6]:
ord('1')

49

In [54]:
ord('a')

97

In [55]:
chr(50)

'2'

In [56]:
chr(97)

'a'

In [72]:
ord('d')

100

In [69]:
# d=100
# s=115
s1= 'durga'
s2= 'sunny'
print(s1<s2)
print(s1<=s2)
print(s1>=s2)
print(s1>s2)

True
True
False
False

In [70]:
# d=100
s1= 'durga'
s2= 'durga'
print(s1<s2)
print(s1<=s2)
print(s1>=s2)
print(s1>s2)

False
True
True
False

In [94]:
#d=115
#D=68

s1= 'durga'
s2= 'Durga'
print(s1<s2)
print(s1<=s2)
print(s1>=s2)
print(s1>s2)

False
False
True
True

In [74]:
ord('D')

68

In [75]:
#boole type

a=10
b=20

if a>b:
    print('a is greater then b')
else:
    print('a is not greater them b')

a is not greater them b

In [76]:
a=50
b=20

if a>b:
    print('a is greater then b')
else:
    print('a is not greater them b')

a is greater then b

In [77]:
a=20
b=20

if a>b:
    print('a is greater then b')
else:
    print('a is not greater them b')

a is not greater them b

In [78]:
10<20<30<40

True

In [79]:
10<20<30>40

False

In [80]:
10<20>10<30

True

In [81]:
# Equality operator

10==20

False

In [82]:
10!=20

True

In [97]:
'harris'=='harris'

True

In [91]:
1==True

True

In [98]:
 'harris'=='Harris'

False

In [99]:
10 == 'harris'

False

In [10]:
10==20==30==40

False

In [11]:
10!=20!=30!=40

True

In [13]:
20==20!=30==30

True

In [14]:
10!=20==20!=40

True

In [19]:
#diffrent between == operator & 'is' operator
# is operator
#a is b   a=b ----->[10,20,30]
#boath are point same object

l1 = [10,20,30]
l2 = [10,20,30]
print(id(l1))
print(id(l2))
print(l1 is l2)

 
l1 = [30,40,50]
l1=l2
print(l1 is l2)

2338910971464
2338912436360
False
True

In [20]:
# == operator
# boath are point not same object
l1 = [40,50,60]
l2 = [40,50,60]
print(id(l1))
print(id(l2))
print(l1==l2)

2338912589896
2338911400712
True